SUPABASE_URL=
SUPABASE_KEY=
SECRET_TOKEN_KEY=
DATABASE_URL=



DATABASE_URL=postgresql://postgres.acvomvaewnzolbqklczn:[SUA_SENHA_AQUI]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
SECRET_TOKEN_KEY=sua_chave_secreta_super_segura_aqui